menu "ADC Configuration"

    choice ADC2_CHANNEL
        bool "ADC2 Channel Num"
        default ADC2_CHANNEL_1
        help
            The channel of ADC2 used in this example.

        config ADC2_CHANNEL_0
            bool "ADC2 Channel 0 (GPIO 4)"
        config ADC2_CHANNEL_1
            bool "ADC2 Channel 1 (GPIO 0)"
        config ADC2_CHANNEL_2
            bool "ADC2 Channel 2 (GPIO 2)"
        config ADC2_CHANNEL_3
            bool "ADC2 Channel 3 (GPIO 15)"
        config ADC2_CHANNEL_4
            bool "ADC2 Channel 4 (GPIO 13)"
        config ADC2_CHANNEL_5
            bool "ADC2 Channel 5 (GPIO 12)"
        config ADC2_CHANNEL_6
            bool "ADC2 Channel 6 (GPIO 14)"
        config ADC2_CHANNEL_7
            bool "ADC2 Channel 7 (GPIO 27)"
        config ADC2_CHANNEL_8
            bool "ADC2 Channel 8 (GPIO 25)"
        config ADC2_CHANNEL_9
            bool "ADC2 Channel 9 (GPIO 26)"
    endchoice

    config ADC2_CHANNEL
        int
        default 0 if ADC2_CHANNEL_0
        default 1 if ADC2_CHANNEL_1
        default 2 if ADC2_CHANNEL_2
        default 3 if ADC2_CHANNEL_3
        default 4 if ADC2_CHANNEL_4
        default 5 if ADC2_CHANNEL_5
        default 6 if ADC2_CHANNEL_6
        default 7 if ADC2_CHANNEL_7
        default 8 if ADC2_CHANNEL_8
        default 9 if ADC2_CHANNEL_9

endmenu

menu "SD Card menu"

    config FORMAT_IF_MOUNT_FAILED
        bool "Format the card if mount failed"
        default n
        help
            If this config item is set, format_if_mount_failed will be set to true and the card will be formatted if
            the mount has failed.
            
    choice MOSI
        bool "MOSI"
        default ESP32CAM
        help
            MOSI OR DI OR CMD.

        config ESP32CAM
            bool "GPIO15"
        config ESP32
            bool "GPIO13"
    endchoice

    config MOSI
        int
        default 15 if ESP32CAM
        default 2 if ESP32  
        
    choice MISO
        bool "MISO"
        default ESP32CAM
        help
            MISO OR DO OR DATA0.

        config ESP32CAM
            bool "GPIO2"
        config ESP32
            bool "GPIO4"
    endchoice
    
    config MISO
        int
        default 2 if ESP32CAM
        default 4 if ESP32   
        
    choice CLK
        bool "CLK"
        default ESP32CAM
        help
            CLK OR SCLK.

        config ESP32CAM
            bool "GPIO14"
        config ESP32
            bool "GPIO14"
    endchoice
        
    config CLK
        int
        default 14 if ESP32CAM
        default 14 if ESP32   
        
    choice CS
        bool "CS"
        default ESP32CAM
        help
            CS OR DATA3.

        config ESP32CAM
            bool "GPIO13"
        config ESP32
            bool "GPIO15"
    endchoice

    config CS
        int
        default 13 if ESP32CAM
        default 15 if ESP32   
        
endmenu